<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pengeluaran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pengeluaran</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="block" id="open-modal-insert" color="success"
    >Tambah Data</ion-button
  >
  <ion-accordion-group expand="inset">
    <ion-accordion *ngFor="let pengeluaran of pengeluaran">
      <ion-item
        slot="header"
        color="light"
        (click)="selectPengeluaran(pengeluaran)"
      >
        <ion-icon name="cash" slot="start" size="medium"></ion-icon>
        <ion-label>{{pengeluaran.nominal}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Tanggal: {{pengeluaran.tanggal}}
      </div>
      <div class="ion-padding" slot="content">
        Nominal: {{pengeluaran.nominal}}
      </div>
      <div class="ion-padding" slot="content">
        Tujuan: {{pengeluaran.tujuan}}
      </div>
      <div class="ion-padding" slot="content">
        Keterangan: {{pengeluaran.keterangan}}
      </div>
      <div class="ion-padding" slot="content">
        <ion-button
          color="warning"
          id="open-modal-update-{{pengeluaran.id}}"
          style="--ion-color-contrast: #ffffff"
          >Edit</ion-button
        >
        <ion-button color="danger" id="delete-alert-{{pengeluaran.id}}"
          >Hapus</ion-button
        >
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <!-- Modal Insert Pengeluaran Starts-->
  <ion-modal trigger="open-modal-insert">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancelInsert()">Batal</ion-button>
          </ion-buttons>
          <ion-title class="ion-text-center">Tambah Data</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirmInsert()" [strong]="true"
              >Konfirmasi</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-row>
          <ion-col size="12">
            <ion-input
              label="Tanggal"
              labelPlacement="stacked"
              type="text"
              placeholder="Masukkan Tanggal"
              [(ngModel)]="tanggal"
            ></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-input
              label="Nominal"
              labelPlacement="stacked"
              type="text"
              placeholder="Masukkan Nominal"
              [(ngModel)]="nominal"
            ></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-input
              label="Tujuan"
              labelPlacement="stacked"
              type="text"
              placeholder="Masukkan Tujuan"
              [(ngModel)]="tujuan"
            ></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-input
              label="Keterangan"
              labelPlacement="stacked"
              type="text"
              placeholder="Masukkan Keterangan"
              [(ngModel)]="keterangan"
            ></ion-input>
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- Modal Insert Pengeluaran Ends -->

  <!-- Modal Update Pengeluaran Starts -->
  <ion-modal trigger="open-modal-update-{{selectedIDPengeluaran}}">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancelUpdate()">Batal</ion-button>
          </ion-buttons>
          <ion-title class="ion-text-center">Edit Data</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirmUpdate()" [strong]="true"
              >Konfirmasi</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="Tanggal"
            labelPlacement="stacked"
            type="text"
            placeholder="Masukkan Tanggal"
            [(ngModel)]="tanggal"
          ></ion-input>
          <ion-input
            label="Nominal"
            labelPlacement="stacked"
            type="text"
            placeholder="Masukkan Nominal"
            [(ngModel)]="nominal"
          ></ion-input>
          <ion-input
            label="Tujuan"
            labelPlacement="stacked"
            type="text"
            placeholder="Masukkan Tujuan"
            [(ngModel)]="tujuan"
          ></ion-input>
          <ion-input
            label="Keterangan"
            labelPlacement="stacked"
            type="text"
            placeholder="Masukkan Keterangan"
            [(ngModel)]="keterangan"
          ></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
<!-- modal update Pengeluaran ends -->

<!-- alert delete Pengeluaran starts -->
<ion-alert
  trigger="delete-alert-{{selectedIDPengeluaran}}"
  header="Yakin ingin menghapus data ini?"
  [buttons]="alertButtons"
></ion-alert>
